@import '~element-ui/lib/theme-chalk/index.css';

$sideBg: #545c64;

.title-text{
    color: #303133;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #DCDFE6;
}

section{
    background-color: #fff;
    margin-bottom: 10px;
    .content{
        width: inherit;
        padding: 10px;
        text-align: left;
    }
}
.view{
    padding: 15px;
    text-align: left;
    background-color: #fff;
    .footer-pagination{
        position: absolute;
        bottom: 0;
        background-color: #fff;
        z-index: 99;
        padding: 5px 0px;
    }
}