@import '~element-ui/lib/theme-chalk/index.css';

$sideBg: #545c64;

.title-text{
    color: #303133;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #DCDFE6;
}

section{
    background-color: #fff;
    margin-bottom: 10px;
    .content{
        width: inherit;
        padding: 10px;
        text-align: left;
    }
}
.view{
    padding: 15px;
    text-align: left;
    background-color: #fff;
    .search-bar{
    }
    .btn-list{
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        // margin: 10px 0;
        padding: 10px;
        text-align: right
    }
    .tab-bar{
        margin: 10px 0;
    }
    .footer-pagination{
        position: absolute;
        bottom: 0;
        background-color: #fff;
        z-index: 99;
        padding: 5px 0px;
    }
}